$textmain: #090909;
$textsecond: rgb(23, 23, 23,);
$texthover: rgb(59,73,223);
$bgcard: rgb(255,255,255);
$bgcolormain:rgb(245,245,245);
$radius:0.375rem;
$titlecolor: rgb(92, 92, 92);

aside {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40PX;
    width: 200px;
    gap: 20px;
    display: flex;
    box-sizing: border-box;
    flex-direction:column ;

    .cuadro{
        display: flex;
        width: 245px;
        background-color: $bgcard;
        border-radius: 2%;
        color: $textmain;
        padding: 0px;
        align-items: center;
        flex-direction: column;
        text-align:left;
       


        .btn1{
            display: flex;
            border-radius: 10%;
            color: $texthover;
            background-color: $bgcard;
            border: 2px solid $texthover;
            width: 200px;
            height: 40px;
            justify-content: space-around;
            font-size: 20px;

        }
        .btn2{
            display: flex;
            border: none;
            border-radius: 10%;
            color: black;
            background-color: $bgcard;
            font-size: 20px;
            width: 200px;
            height: 40px;
            justify-content: space-around;
        }


    }
    .botones {
        cursor: pointer;
        background-color: $bgcolormain;
        font-size: 18px;
        text-align: start;
        width: 200px;
        text-decoration: none;
        padding:10px;
        border-radius: 5px;
        border:none
    }

}
