@import 'columnaDerecha';
@import "columnacentral";
<<<<<<< HEAD
@import "columnaderecha";
$bgcard: rgb(255,255,255);
$bgcolormain:rgb(245,245,245);
=======
@import "estructura_sidebar" ;
@import "navbar";
>>>>>>> 1f96b88ec16d45542d18b32742dece517553dc2a

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.headearNav {
    background-color: $bgcolormain;
}

header {
    width: 100%;
    background-color: rgb(252, 214, 255);
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(41, 253, 246);
    width: 90%;
    height: 100vh;

    #izquierda{
        background-color: aqua;
        flex: 20%;
        padding: 20PX;
    }

    .secCentral{
        flex: 50%;
        background: rgb(247, 158, 42);
        padding: 20PX;
    }

}

@media screen and (min-width:1200px){
    main{
        width: 80%;
    }
}
main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(41, 253, 246);
    width: 80%;
    height: 100%;
    font-size: 14px;

    #izquierda {
        background-color:$bgcolormain;
        flex: 0%;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 20px;
        font-size: 0.88rem;
    }

<<<<<<< HEAD
    /*section {
=======
    section {
>>>>>>> 1f96b88ec16d45542d18b32742dece517553dc2a
        flex: 50%;
        background-color: rgb(247, 158, 42);
        padding: 20px;
    }*/

    #derecha {
        background-color: aqua;
        flex: 30%;
        padding: 20px;  
    }
       
    a{
        color: black;
    }
    
    .container{
        display: grid;
        width: 100%;
        margin: 0 auto;
        gap: 1.8rem;
        grid-template-columns: 12rem auto 23 rem;
        justify-content: start;
        font-size: 20px;
        ;

    }
        

   ul{
    list-style: none;
   }

    


}


