@import "fonts";
@import "global";
@import "icons";
@import "header";
@import "aside";
@import "posts";
@import "sidebar";
@import "medias";


.blog-card__card-img {
    height: 200px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .author-container__avatar {
    width: 30px;
    border-radius: 50px;
  }

.set {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.fs {
    font-size: small;
}

.fss {
  font-size: xx-small;
  padding: 1rem;
  margin-right: 2rem;
}

.mb {
  margin-bottom: 0.75rem;
}

.cb {
  line-height: 1.25;
  font-size: 0.875rem;
}

.ap{
  position: relative;
  margin-right: 0.5rem;
  display: flex;
}

.box {
  box-sizing: border-box;
}

.pt{
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.ct{
  margin-bottom: 0.5rem;
  margin-left: calc((0.254rem)*-1) ;
  font-size: 0.875rem;
  gap: 1px;

}

.fsi {
    height: 15px;
}

.ms{
  margin-left: 4.5rem;
}

.card{
  padding: 1rem;
  font-size: 1.5rem;
  position: relative;
  margin: 0 0 0.5rem;
}

.card-body{
  padding: 1rem;
  box-sizing: border-box;
}

.aps{
  display: flex;
  flex-direction: column;
  font-size: small;
}

.ms-4{
  align-items: center;
}

